@model formulario.Models.Formulario

@{
    ViewData["Title"] = "Formulario Page";
}

<div class="text-center">
    <h1 class="display-4">Formulario </h1>
    <form asp-controller="Formulario" asp-action="Formular">
            
            <label>Nombre</label>
            <input asp-for="nombre" />
            <br/>
            <label>Apellido</label>
            <input asp-for="apellido" />
            <br/>
            <label>Email</label>
            <input asp-for="email" />
            <br/>
            <label>Telefono</label>
            <input asp-for="telefono" />
            <br/>
            <label>Subject</label>
            <input asp-for="subject" />
            <br/>
            <label>Mensaje</label>
            <br>
            <textarea  asp-for="subject" rows="10" cols="40">dejenos su mensaje</textarea>
            <br/>

            
            <br/>
            
            <button onClick="alert('Gracias estaremos en contacto')">Enviar</button>
    </form>
    

</div>